**/load-dir/*
**/private-jar/*
**/shared-jar/*
**/build/*
**/namespaces/*
**/.venv/*
**/*.pyc
**/logs/*
**/*DS_Store*
**/log.*
cisco-ios*
*.classpath
*.project
*.fxs
*gz
.zed/
.pytest_cache/
pyrightconfig.json
